body, html {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}
#header img {
	border: 0;
}
#header .feed {
	margin: 0;
	width: 150px;
	float: right;
}
#content {
	margin: 0 auto;
	font-size: 16px;
	line-height: 25px;
	padding-bottom: 15px;
	width: 720px;
}
#content footer {
	font-style: italic;
	font-size: smaller;
	color: #888;
	line-height: normal;
}
#content footer img {
	margin-right: 5px;
	float: left;
}
header, footer, section, article {
	display: block;
	text-align: justify;
}
article.post {
	margin-top: 30px;
}
h1 {
	display: inline;
	margin: 0;
}
h2, h3, h4 {
	margin: 25px 0 0 0;
}
h1 a {
	color: black;
	text-decoration: none;
}
a {
	color: #cc0000;
}
a:hover {
	text-decoration: underline;
}
.post p {
	margin: 10px 0;
}
.date {
	font-style: italic;
	float: right;
	line-height: 41px;
	margin-right: 0;
}
.more {
	margin-top: -15px;
	margin-right: 0;
	font-style: italic;
	text-align: right;
	font-size: smaller;
}
.more a:first-child {
	color: #b2beb5;
}
.more a {
	text-decoration: none;
}
.more a:hover { 
	text-decoration: underline 
}
code, .gist {
	font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
	font-size: smaller;
	line-height: normal;
}
pre {
	padding: 0px 10px;
	overflow: auto;
}
blockquote {
	font-style: italic;
}
#archives {
	list-style-image:url("/favicon.ico");
	padding-left: 25px;
}
#archives a {
	text-decoration: none;
}
#archives a:hover {
	text-decoration: underline;
}
#archives .date, #archives .comment {
	font-style: italic;
	font-size: smaller;
	float: none;
}
.comment a {
	color: #b2beb5;
}
.slide-out-div { 
	padding-right: 20px; 
	width: 180px; 
	background: #fff; 
	border: 1px solid #cc0000; 
}
#about-me {
	list-style-type: none;
}
#about-me li {
	margin-left: 0;
}
#about-me img { 
	vertical-align: middle;
	margin: 5px 5px;
	border: 0;
}
#about-me a { 
	text-decoration: none;
	color: black;
	font-size: smaller;
	font-weight: bold;
}
#about-me a:hover { 
	text-decoration: underline;
}