<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<link type="application/rss+xml" rel="alternate" title="thedersen.com" href="http://feeds.feedburner.com/thedersen" />
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.tabSlideOut.js"></script>	
	<script type="text/javascript" src="/js/site.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
	<div id="header">
		<a href="/">thedersen.com</a>
	</div>
	<div id="content">
    	<section>
      		<%= yield %> 
    	</section>
    	<footer>
			<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://creativecommons.org/images/public/somerights20.png" /></a>The opinions expressed herein are my own personal opinions and do not represent my employer's view in any way. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
		</footer>
	</div>
	<div class="slide-out-div">
	    <a class="handle" href="#">About Me</a>
	    <ul id="about-me">
			<li><a href="http://twitter.com/thedersen"><img src="/gfx/twitter.png" />Twitter</a></li>
			<li><a href="http://last.fm/user/thedersen"><img src="/gfx/lastfm.png" />Last.fm</a></li>
			<li><a href="http://facebook.com/thedersen"><img src="/gfx/facebook.png" />Facebook</a></li>
			<li><a href="http://no.linkedin.com/in/thomaspedersen"><img src="/gfx/linkedin.png" />Linkedin</a></li>
			<li><a href="https://www.google.com/reader/shared/thedersen"><img src="/gfx/google.png" />Google Reader</a></li>
			<li><a href="http://feeds.feedburner.com/thedersen"><img src="/gfx/rss.png" />RSS</a></li>
		</ul>
	</div>
	<script type="text/javascript">
	var disqus_shortname = 'thedersen';
		(function () {
		  var s = document.createElement('script'); s.async = true;
		  s.src = 'http://disqus.com/forums/thedersen/count.js';
		  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
	<script type="text/javascript"> 
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script> 
	<script type="text/javascript"> 
		try {
			var pageTracker = _gat._getTracker("UA-12325477-1");
			pageTracker._setDomainName("none");
			pageTracker._setAllowLinker(true);
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
  </body>
</html>

