<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<link type="application/rss+xml" rel="alternate" title="<%= title %>" href="http://feeds.feedburner.com/thedersen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
	<h1>thedersen.com</h1>
    <section>
      <%= yield %> 
    </section>
    <footer>
      &nbsp;
    </footer>
	<script type="text/javascript"> 
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script> 
	<script type="text/javascript"> 
		try {
			var pageTracker = _gat._getTracker("UA-12325477-1");
			pageTracker._setDomainName("none");
			pageTracker._setAllowLinker(true);
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
  </body>
</html>

